@if (TempData["Alert"] != null)
{
    <div class="alert alert-warning">@TempData["Alert"]</div>
}

<h3>El chofer está en camino...</h3>
<!-- El alert se actualizará automáticamente por el controlador -->
